<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <button type="submit" (click)="addRespice()" class="btn btn-success">{{model? 'Updat':'Save'}}</button>
              <button type="button" [routerLink]="['../']" class="btn btn-danger">Cansel</button>
            </div>
        </div>
      </div>
      <!-- /////////////////////////Form///////////// -->
    <form [formGroup]="form">
  <div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input formControlName="name" type="text" id="name" name="name" class="form-control">
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="form-group">
            <label for="img">ImagUrl</label>
            <input formControlName="img" type="text" id="img" name="img" class="form-control">
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea formControlName="description" type="text" id="description" rows=6 name="description" class="form-control">
                </textarea>
            </div>
        </div>
      </div>

      <!-- ///////////////////////////////////// -->
      <div class="row">
          <div class="col" formArrayName="ingrediants">
              <div class="row" *ngFor="let item of form['ingrediants']?.controls;let i=index" [formGroupName]="i" >
                <div class="col-sm-8">
                  <input formControlName="name"  class="form-control" type="text" id="nameIngrediant" name="nameIngrediant">
                </div>
                <div class="col-sm-2">
                    <input formControlName="amount" class="form-control" type="number" id="numberIngrediant" name="numberIngrediant">
                  </div>
                  <div class="col-sm-2">
                     <button type="button" (click)="daletIng(i)" class="btn btn-danger">X</button>

                    </div>
              </div>

              <div class="row">
                <button type="button" (click)="addIngrediant()" class="btn btn-success">Add ingrediants</button>
              </div>
          </div>

        </div>
</form>
</div>
