<!-- <app-header (routeTo)="navigation($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
    
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <input type="text" name="nameServer"  [(ngModel)]="nameServer">
  </div>
  <div class="row">
      <button type="button" (click)="addServer()" class="btn btn-primary">AddServer</button>
    </div>
    <div class="row">
      <button type="button" (click)="addServerToFirebase()" class="btn btn-primary">Save</button>
    </div>
    <div class="row">
      <button type="button" (click)="GetToFirebase()" class="btn btn-primary">GEtDAtA</button>
    </div>
  <div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of serverArry" >
          {{item.name}}
      </li>
    </ul>
  </div>
</div>
</div>




<!-- <div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-4">
      <ul class="nav nav-tabs">
        <li class="nav-item"   ><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/" class="nav-link">Home</a></li>
        <li   class="nav-item"  ><a routerLinkActive="active" routerLink="/servers" class="nav-link">Servers</a></li>
        <li class="nav-item"  ><a routerLinkActive="active" [routerLink]="['/users']" class="nav-link">Users</a></li>
      </ul>
    </div>
  </div>
</div>
 <div class="container">
   <div class="col">
    <router-outlet></router-outlet>
   </div>
 </div> -->